[submodule "vendor/jni-rs"]
	path = vendor/jni-rs
	url = git@github.com:Aime23/jni-rs.git
	branch = feat/unsafe_alias_to_custom_types
[submodule "crates/ivpl-java/infrarust-velocity/velocity/source"]
	path = crates/ivpl-java/infrarust-velocity/velocity/source
	url = https://github.com/PaperMC/Velocity.git
	branch = rel/3.0.0
[submodule "vendor/jbindgen"]
	path = vendor/jbindgen
	url = https://github.com/Aime23/jbindgen.git
